.poster{
  clear: top;
  margin: left;
  margin-top: 40px;
  background-image: url(3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 600px;
  /* z-index: -1;    */
  position: relative;
} 


.bookingbox{
  width: 500px;
  height: 450px;
  color: #272A33;
  background-color:  #4BCCCC;
  margin-left: 50px;
  margin-top: 100px;
  border-radius: 8px; 
}
.booking-content {
  margin-left: 5%;
  font-size: 14px;
}
.search-title{
  margin-top: 5px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}
.col-left {
  float: left;
  width: 50%;
  cursor: pointer;
  font-size: 16px;
}
.col-right {
  float: right;
  width: 50%;
  cursor: pointer;
  font-size: 16px;
}
.airport {
  position: relative;
  display: inline-block; 
  width: 95% }

.airport-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.airport:hover .booking-content {
  display: block; }

.pull-left {
  float: left;
}
.w25 {
  width: 25%
}
#datepicker {
  width: 60%
}
.departure-date {
  align-content: center;
}
.clear{
  clear: left;
  clear: top
}
.quantity{
  display: inline-block;
}
.adult {
  float: left;
  width: 30%
}
.child {
  float: left;
  width: 30%;
  margin-left: 4%;
}
.baby {
  float: left;
  width: 30%;
  margin-left: 4%;
}
.placeholder {
  width: 87%
}
.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer; }

.bottom{
  vertical-align: -100px;
}  
.left{
  text-align: left;
}    
.quantity{
  margin-top: 20px;  
  width: 100%;
  float: left;
}
.date-search {
  width: 50%
}
#datepicker {
  cursor: pointer
}

#find-ticket {
  bottom: 10px;
}
.submit {
  background-color: #f9f9f9;
  color: #272A33;
  
}
.submit:hover {
  background-color: #F05D23;
  color: #f9f9f9
}

.btm {
  border: none; 
  padding: 12px 20px;/* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  border-radius: 20px;
}
.center {
  float: center;
  left: 35%;
}
  .ck-title{
  font-size: 30px;
}
  .ck-heading{
  font-size: 25px;
}  
  .ck-sub {
    font-size: 18px
  }
.ck-info {
  font-size: 16px;
  position:relative;
  left: 35px;
  }
.info {
  float: left;
  width: 100%;
  position:relative;
  top: 50px
}
.ck{
  float: left;
  width: 40%;
  margin-left: 5%;
}
.box3{
  width: 40%;
  margin-left: 5%;
}

  #combine{
  flex-flow: row;
  justify-content: center;
  }
.box2 {
  top: 20px;
  clear: top;
  float: bottom;
  width: 100%;
  height: 600px;
  /* margin-bottom: 0px; */
  background-color: rgb(175, 198, 218);
  margin-top: 25px;
} 